<div class="card">
    <div class="card-body">
        <h1 class="card-title">Add threat</h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>
        <form [formGroup]="threatForm" autocomplete="off" novalidate (ngSubmit)="addThreat(threatForm.value)">
            <div class="mb-3 row">
                <label for="description" class="col-form-label col-sm-2">Description:</label>
                <div class="col-md-5">
                    <input type="text" id="description" formControlName="description" class="form-control" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="level" class="col-form-label col-sm-2">Threat Level:</label>
                <div class="col-md-5">
                    <select formControlName="level" class="form-control">
                        <option *ngFor="let level of Levels" [ngValue]="level"> {{level}}</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('level') && hasError('level', 'required')">Threat level is required</em>
                </div>
            </div>
            <google-map 
            [center]="center"   
            (mapDblclick)="eventHandler($event,'mapDblclick')">
                <map-marker
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.option">
                </map-marker>
            </google-map>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!threatForm.valid">Add Threat</button>
                </div>
            </div>
        </form>

    </div>
  </div>